@{
  Layout = "_Layout";
}

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Word Counter</h1>
  <p class="lead">Welcome!</p>
  <hr class="my-4">
  <p>Would you like to know how many times a word appears in a phrase? Click below to find out!</p>
  <a class="btn btn-primary" href="/words" role="button">Click to add a word and a phrase!</a>
</div>
</div>
