@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Word Counter</h1>
    <img src="img/splash.jpg" alt="Letter printing blocks" class="letter-block">
    <p class="lead">Welcome!</p>
    <hr class="my-4">
    <p class="align">Would you like to know how many times a word appears in a phrase? Click below to find out!</p>
    <a class="btn btn-primary link-align" href="/words" role="button">Click to add a word and a phrase!</a>
  </div>
</div>
