@{
  Layout = "_Layout";
}

<div class="container">
<h1>Welcome to the Word Counter!</h1>
<p>Would you like to know how many times a word appears in a phrase? Click below to find out!</p>
<a href='/words/new'>Click to add a word and a phrase<a/>
<!-- <a href='/bag-items'></a> -->
</div>
