@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Word Counter</h1>
    <img src="~/img/splash.jpg" alt="Letter printing blocks" class="letter-block">
    <p class="lead">Enter a word and a phrase below!</p>
    <form action="/words/words-result" method="post">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputLetterOrWord">Enter a word:</label>
          <input type="text" class="form-control" id="inputLetterOrWord" name="inputLetterOrWord" placeholder="Enter a string" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputStringToCheck">Enter a phrase:</label>
          <input type="text" class="form-control" id="inputStringToCheck" name="inputStringToCheck" placeholder="Enter a string" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 45%">Get Count !</button>
    </form>
  </div>
  <br>
  <h3 class="align">Previous Word Count Plays</h3>
    <ul class="list-group">

      @using WordCounter.Models;
      @if (Model.Count == 0)
      {
        <p class="align">Start Playing To Add To Your List of Plays.</p>
      }
      @if (Model.Count != 0)
      {
        @foreach (Word word in Model)
        {
          <div class="list-group-item">
            <li class="align-list">Word: @word.GetInputLetterOrWord()</li>
            <li class="align-list">Phrase: @word.GetInputStringToCheck()</li>
            <li class="align-list">Count: @word.GetCount()</li>
          </div>
        }
      }

    </ul>
  <a class="btn btn-primary" href="/" role="button" style="margin-left: 40%">Go Back To Home Page!</a>
</div>
